/*Стилизация базовая : обнуление, текст, фон*/

body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;

    background-color: #000;
    background-image: url("img/background-main.png");
    background-position: top center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

.button {
    font: inherit;

    text-align:  center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #000000;
    border: none;
}


.main-navigation {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;

    background-color: #000000;
}

.site-navigation,
.user-navigation {
    list-style: none;
}
.site-navigation a,
.user-navigation a {
    color: #ffffff;
}
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    background-color: #242424;
}

.features-list {
    list-style: none;
}
.features-item {
    text-align: center;
}
.features-item h3 {
    font-size: 30px;
    line-height: 42px;
}

.index-columns {
    color: #000000;

    background-color: #f8f5f2;
    background-image: url("img/line-shadow.png"), url("img/pattern-light.jpg");
    background-position: center, 0 0;
    background-repeat: no-repeat, repeat;
}
.index-columns h2 {
    font-size: 30px;
    line-height: 42px;
}

.news-list {
    list-style: none;
}
.news-item time {
    text-transform: none;
}

.gallery-content {
    background-color: #cccccc;
    border: 7px solid #ffffff;
}

.appointment-item input {
    font: inherit;

    background-color: transparent;
    border: 2px solid #000000;
}

.appointment-item input:focus {
    border-color: #725d25;
}

.main-footer {
    color: #ffffff;

    background-color: #212121;
    background-image: url("img/background-footer.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
}
.footer-contacts a {
    color: #ffffff;
    text-decoration: underline;
}
.footer-contacts a:hover,
.footer-contacts a:focus {
    text-decoration: none;
}

.footer-social {
    text-align: center;
}
.footer-social ul {
    list-style: none;
}
.social-button {
    color: #ffffff;
}

.footer-copyright {
    text-align: center;
}
.footer-copyright a {
    color: #ffffff;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
    color: #000000;

    background-color: #ffffff;
}

.modal {
    color: #000000;

    background-color: #f8f3f0;
    background-image: url("img/pattern-light.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}
.modal h2 {
    font-size: 30px;
    line-height: 42px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    font: inherit;
    color: #000000;
    text-transform: uppercase;

    background-color: #f9f6f3;
    border: 2px solid #000000;
}
.login-form input:focus {
    border-color: #663d15;
}
.login-checkbox:hover,
.login-checkbox:focus {
    color: #663d15;
}

.restore {
    color: #000000;
    text-decoration: underline;
}

.restore:hover,
.restore:focus {
    text-decoration: none;
}



/*Общая стилизация страницы: Остальные декаративные элементы*/

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
}
.site-navigation a,
.user-navigation a {
    display: block;
    padding: 25px 20px;
}
.user-navigation {
    display: flex;
}
.user-navigation .login-link {
    position: relative;
    padding-left: 50px;
}
.login-link::before {
    content: "";

    position: absolute;
    top: 27px;
    left: 24px;
    width: 16px;
    height: 18px;

    background-image: url("img/login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.3;
}
.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
    opacity: 1;
}

.features-item h3 {
    position: relative;

    margin: 0 0 60px;
}
.features-item h3::after {
    content: "";

    position: absolute;
    bottom: -30px;
    left: 50%;
    margin-left: -10px;

    width: 20px;
    height: 20px;

    background-color: #ffffff;
    transform: rotate(45deg);
}
.features-item p {
    margin: 0 10px;
}
.index-columns h2 {
    margin: 0 0 25px;
}
.news-list {
    margin: 0 0 25px;
    padding: 0;
}
.news-item {
    margin: 0 0 25px;
}
.news-item p{
    margin: 0;
}
.button {
    display: inline-block;
    padding: 10px 30px;
    margin-right: 16px;
}
.button.disabled,
.button:disabled {
    cursor: default;
    opacity: 0.5;
    background-color: #000000;
}
.gallery-content {
    height: 164px;
    margin: 0;
}
.gallery-container-wrapper {
    position: relative;

    height: 262px;
}
.gallery-button {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;

    width: 140px;
    margin: 0;
}
.gallery-button-next {
    right: 0;
}
.gallery-button-back {
    left: 0;
}
.contacts p {
    margin: 0 0 25px;
}
.appointment-info {
    margin: 0 0 15px;
}
.appointment-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.appointment-item {
    width: 140px;
    margin: 0 0 10px;
}
.appointment-item label {
   display: block;
    margin-left: 15px;
    margin-bottom: 9px;
}
.appointment-item input {
    box-sizing: border-box;
    width: 140px;
    padding: 9px 15px 7px 15px;
}
.appointment .button {
    display: block;
    width: 100%;
    margin: 10px 0 0;
}
.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;

    background-color: #000000;
}
.footer-social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 141px;
    margin: 0 auto;
    padding: 0;
}
.social-button:hover,
.social-button:focus {
    background-color: #ffffff;
}
.social-button:hover path,
.social-button:focus path {
    fill: #000000;
}
.footer-copyright b {
    display: block;
    margin-bottom: 15px;
}
.footer-copyright .button {
    display: block;
    margin-right: 0;
}
