/* Стили для товаров барбершопа*/
.inner-page{
    color: #000000;

    background-color: #ffffff;
    background-image: url("img/pattern-light.jpg");
    background-repeat: repeat;
    background-position: 0 0;
}
.inner-page .main-header {
    margin-bottom: 60px;

    background-color: #000000;
}
.inner-page .main-header-logo {
    outline: 1px solid red;
    width: 111px;
    height: 24px;
    padding: 23px 20px;

    order: 0;
}
.inner-page .main-navigation {
    align-items: flex-start;
    flex-direction: row;
}
.inner-page .user-navigation {
    margin-left: auto;
}
.page-title {
    outline: 1px solid red;

    margin: 0 0 25px;
    padding: 0;
}
.breadcrumbs {
    outline: 1px solid red;

    padding: 0;
    margin: 0 0 50px;

    list-style: none;
}
.filter {
    outline: 1px solid red;

    width: 180px;
}
.filter ul {
    margin: 0;
    padding: 0;

    list-style: none;
}
.catalog{
    outline: 1px solid red;

    width: 700px;
}
.catalog-columns-wrapper {
    display: flex;
    justify-content: space-between;
}
.catalog-list {
    display: flex;
    flex-wrap: wrap;

    padding: 0;
    margin: 0;

    list-style: none;
}
.catalog-item {
    outline: 1px solid red;
    width: 220px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.catalog-item h3 {
    outline: 1px solid red;
}
.catalog-item:nth-child(3n) {
    margin-right: 0;
}
.pagination-list {
    margin: 0;
    padding: 0;

    list-style: none;
}
.inner-page .main-footer {
    margin-top: 45px;
}

fieldset {
    padding: 0;
    margin: 0 0 55px;
    border: none;
}
legend {
    padding: 0;
    margin: 0 0 20px;

    font-size: 24px;
    line-height: 30px;
}

/*Стилизация общая */

.breadcrumbs {
    display: flex;
    margin-right: 0;
    flex-wrap: wrap;
}
.breadcrumbs a {
    position: relative;
    color: #000000;
    margin-right: 40px;
}
.breadcrumbs a::after {
    content: "";

    position: absolute;
    right: -25px;
    top: 50%;
    margin-top: -4px;
    width: 7px;
    height: 7px;

    background-color: #000000;
    transform: rotate(45deg);
}
.breadcrumbs-current {
    color: #aba9a7;
}
.filter-option {
    margin-bottom: 20px;
    margin-left: 40px;
}
.filter-option ul {
    padding: 0;
    margin: 0;
}
.filter-option:last-child {
    margin-bottom: 0;
}

.catalog-item {
    display: flex;
    flex-direction: column;

    background-color: #ffffff;
}
.catalog-item h3 {
    order: 1;
}
.catalog-item .catalog-category {
    text-transform: none;
}
.catalog-item .image-product a {
    display: block;

    height: 165px;
}

.catalog-item-price {
    order: 2;
}
.catalog-item p {
    padding: 0;
    margin: 0;
}
a {
    outline: 1px solid green;
}


