/* Стили для товаров барбершопа*/
.inner-page{
    color: #000000;

    background-color: #ffffff;
    background-image: url("img/pattern-light.jpg");
    background-repeat: repeat;
    background-position: 0 0;
}
.inner-page .main-header {
    margin-bottom: 60px;

    background-color: #000000;
}
.inner-page .main-header-logo {
    /*outline: 1px solid red;*/
    width: 111px;
    height: 24px;
    padding: 23px 20px;

    order: 0;
}
.inner-page .main-navigation {
    align-items: flex-start;
    flex-direction: row;
}
.inner-page .user-navigation {
    margin-left: auto;
}
.page-title {
    /*outline: 1px solid red;*/

    margin: 0 0 25px;
    padding: 0;
}
.breadcrumbs {
    /*outline: 1px solid red;*/

    padding: 0;
    margin: 0 0 50px;

    list-style: none;
}
.filter {
    /*outline: 1px solid red;*/

    width: 180px;
}
.filter ul {
    margin: 0;
    padding: 0;

    list-style: none;
}
.catalog{
    /*outline: 1px solid red;*/

    width: 700px;
}
.catalog-columns-wrapper {
    display: flex;
    justify-content: space-between;
}
.catalog-list {
    display: flex;
    flex-wrap: wrap;

    padding: 0;
    margin: 0;

    list-style: none;
}
.catalog-item {
    /*outline: 1px solid red;*/
    width: 220px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.catalog-item:nth-child(3n) {
    margin-right: 0;
}
.pagination-list {
    margin: 0;
    padding: 0;

    list-style: none;
}
.inner-page .main-footer {
    margin-top: 45px;
}

fieldset {
    padding: 0;
    margin: 0 0 55px;
    border: none;
}
legend {
    padding: 0;
    margin: 0 0 20px;

    font-size: 24px;
    line-height: 30px;
}

/*Стилизация общая */
.site-navigation-current {
    position: relative;
}
.site-navigation-current a:not([href]) {
    background-color: #000000;
}
.site-navigation-current::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;

    background-color: #ffffff;
    height: 5px;
}

.breadcrumbs {
    display: flex;
    margin-right: 0;
    flex-wrap: wrap;
}
.breadcrumbs a {
    position: relative;
    color: #000000;
    margin-right: 40px;
}
.breadcrumbs a::after {
    content: "";

    position: absolute;
    right: -25px;
    top: 50%;
    margin-top: -4px;
    width: 7px;
    height: 7px;

    background-color: #000000;
    transform: rotate(45deg);
}
.breadcrumbs-current {
    color: #aba9a7;
}
.filter-option {
    margin-bottom: 20px;
}
.filter-option ul {
    padding: 0;
    margin: 0;
}
.filter-option:last-child {
    margin-bottom: 0;
}

.catalog-item {
    display: flex;
    flex-direction: column;

    box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.2);

    background-color: #ffffff;
}
.catalog-item p {
    padding: 0;
    margin: 0;
}
.catalog-item h3 {
    margin: 0;
    padding: 15px;

    order: 1;
}
.catalog-item h3 span {
    display: block;

    font-size: 14px;
    line-height: 18px;
    color: #000000;

    margin: 0;
    padding: 0;
}
.catalog-item .catalog-category {
    text-transform: none;
}

.catalog-item .image-product a {
    display: block;

    max-height: 165px;
}

.catalog-item .catalog-item-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 187px;

    margin:0 auto 15px;
    text-align:  center;

    order: 2;
}
.catalog-item .button {
    font-size: 14px;
    line-height: 18px;

    margin-right: 0;

    padding: 13px;
}
.catalog-item-price b {
    flex-grow:  1;

    padding: 13px 0 13px;

    font-size: 14px;
    line-height: 18px;

    background-color: #e5e5e5;
}

/*Для прикола сделал Пагинацию на инлайн-блочной модели сетки.
Впринципе подход похож на флекс только учитываются пробелы в ходе,
 что не очень удобно т.к. margin на пагинации не 7px а за счет пробелов больше */

/*.pagination-list {*/
/*    margin-top: 25px;*/

/*}*/
/*.pagination-item {*/
/*    display: inline-block;*/
/*    vertical-align: top;*/
/*    margin-right: 7px;*/
/*    margin-bottom: 7px;*/

/*    background-color: #000000;*/
/*}*/

/*.pagination-item a {*/
/*    display: block;*/

/*    width: 48px;*/
/*    height: 48px;*/
/*    font-size: 14px;*/
/*    line-height: 48px;*/
/*    color: #ffffff;*/
/*    text-align: center;*/

/*    background-color: #000000;*/
/*}*/
/*.inner-page .main-footer {*/
/*    margin-top: 38px;*/
/*}*/


.pagination-list {
    display: flex;
    flex-flow: row wrap;

    margin-top: 25px;
}
.pagination-item {
    margin-right: 7px;
    margin-bottom: 7px;
}
.pagination-item  a {
    display: block;

    width: 45px;
    height: 45px;
    font-size: 14px;
    line-height: 45px;
    color: #ffffff;
    text-align: center;


    background-color: #000000;
}
.pagination-item-current a {
    color: #000000;
    background-color: #ffffff;
}
.inner-page .main-footer {
    margin-top: 45px;
}

/*Стилизация чекбоксов и радиобатанов*/

.filter-option {
    position: relative;

    padding-left: 35px;
    /*outline: 1px solid red;*/
}

.filter-option label {
    cursor: pointer;
}


/*Чекбоксы*/

.filter-option label input[type="checkbox"] + .filter-input-checkbox {

    position: absolute;
    top: 1px;
    left: 0;

    width: 17px;
    height: 17px;

    border: 2px solid #000000;
}
.filter-option label input[type="checkbox"]:checked + .filter-input-checkbox::after,
.filter-option label input[type="checkbox"]:checked + .filter-input-checkbox::before {
    content: "";

    position: absolute;
    top: 8px;
    left: 1px;

    width: 15px;
    height: 2px;

    background-color: #000000;
}
.filter-option label input[type="checkbox"]:checked + .filter-input-checkbox::after {
    transform: rotate(45deg);
}
.filter-option label input[type="checkbox"]:checked + .filter-input-checkbox::before {
    transform: rotate(-45deg);
}

/*Радиобатаны*/

.filter-option label input[type="radio"] + .filter-input-radio {
    position: absolute;
    top: 1px;
    left: 0;

    width: 17px;
    height: 17px;

    border: 2px solid #000000;
    border-radius: 50%;
}
.filter-option label input[type="radio"]:checked + .filter-input-radio::before,
.filter-option label input[type="radio"]:checked + .filter-input-radio::after {
    content: "";

    position: absolute;
    top: 5px;
    left: 5px;

    width: 7px;
    height: 7px;

    background-color: #000000;

    border-radius: 100%;
}
